*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /*overflow: hidden; quita el scroll por defecto*/
}

body{
    font-family: "Nunito Sans", serif;
    background-color: rgb(230,230, 230);
    min-width: 311px;
    max-width: 1200px;
}

.pixel-naranja-1 {
    margin-left: 30px;
    width: 7px;
    height: 7px;
    background-color: #F29F05;
    z-index: -1;
    animation-name: trayectoria-pixel-1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes trayectoria-pixel-1 {
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }
    20%{
        opacity: 0;
    }

    25%{
        opacity: 50%;
        transform: translateY(-15px);
    }

    35%{
        opacity: 100%;
    }

    50%{
        opacity: 100%;
        transform: translateY(1080px);
    }
    51%{
        opacity: 0;
    }

    72%{
        opacity: 0;
    }

    75%{
        transform: translateY(1080px);
        opacity: 100%;
    }

    95%{
        opacity: 100%;
    }

    100%{
        opacity: 0;
        transform: translateY(-15px);
    }
}

.pixel-naranja-2 {
    margin-left: 20px;
    margin-top: 0;
    width: 7px;
    height: 7px;
    background-color:#F25C05;
    animation-name: trayectoria-pixel-2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes trayectoria-pixel-2 {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    23%{
        opacity: 0;
    }

    25%{
        opacity: 50%;
        transform: translateY(-30px);
    }

    35%{
        opacity: 100%;
    }

    50%{
        opacity: 100%;
        transform: translateY(1080px);
    }
    51%{
        opacity: 0;
    }
    72%{
        opacity: 0;
    }

    75%{
        transform: translateY(1080px);
        opacity: 100%;
    }

    95%{
        opacity: 100%;
    }

    100%{
        opacity: 0;
        transform: translateY(-30px);
    }
}

.pixel-azul-1 {
    margin-left: 40px;
    width: 7px;
    height: 7px;
    background-color: #07B2D9;
    animation-name: trayectoria-pixel-3;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes trayectoria-pixel-3 {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    23%{
        opacity: 0;
    }

    25%{
        opacity: 50%;
        transform: translateY(-30px);
    }

    35%{
        opacity: 100%;
    }

    50%{
        opacity: 100%;
        transform: translateY(1080px);
    }
    51%{
        opacity: 0;
    }
    72%{
        opacity: 0;
    }

    75%{
        transform: translateY(1080px);
        opacity: 100%;
    }

    95%{
        opacity: 100%;
    }

    100%{
        opacity: 0;
        transform: translateY(-30px);
    }
}

.pixel-azul-2 {
    margin-left: 50px;
    width: 7px;
    height: 7px;
    background-color: #04D9D9;
    animation-name: trayectoria-pixel-4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


@keyframes trayectoria-pixel-4 {
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    23%{
        opacity: 0;
    }

    25%{
        opacity: 50%;
        transform: translateY(-40px);
    }

    35%{
        opacity: 100%;
    }

    50%{
        opacity: 100%;
        transform: translateY(1080px);
    }
    51%{
        opacity: 0;
    }
    72%{
        opacity: 0;
    }

    75%{
        transform: translateY(1080px);
        opacity: 100%;
    }

    95%{
        opacity: 100%;
    }

    100%{
        opacity: 0;
        transform: translateY(-40px);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;  
    margin: 0 auto;
    padding: 0 auto;
}

/*Menu-nav-1*/

.back {
    padding: 32px 0;
}

.menu-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    z-index: 1000;
}

.logo {
    padding-left: 18px;
}

.menu-container .nav-bar ul li {
    position: relative;
    float: left;
}

.menu-container .nav-bar ul li a {
    font-size: 17px;
    font-weight: bold;
    padding: 20px;
    color: #000;
    display: block;
    transition: all 0.3s ease;
}

.menu-container .nav-bar ul li a:hover {
    color: #07B2D9;
}

.submenu {
    display: none;
}

.menu-container .nav-bar ul li:hover .submenu {
    display: block; 
    position: absolute;
    background-color: rgb(230,230, 230);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 13px;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu-icono:hover {
    width: 22px;
}

.menu-container label {
    cursor: pointer;
    display: none;
}


.video-inicio {
    background-image: url(/Images/Backgrounds/ingeniero-grafico-logo-animado-banner-inicio.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    height: 315px;
    width: 100vw;
    z-index: -1;
}

h1{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 25px;
}

.servicios {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            120px,
            1fr
        )
    );
    align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 77%;
    margin: 0;
    padding: 0;
    gap: 36px;
}

.botones-servicios {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-bottom: 20px;
}

.botones-servicios img {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 9px;
    cursor: pointer;
}

.servicios a, h2 {
    font-size: small;
    font-weight: normal;
    text-decoration: none;
    color: #1D2021;
    margin: 0;
    padding: 0;
}

.Perfil-laboral {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column: 90px;
    justify-content: space-evenly;
    align-items: center;
    width: 79%; 
    gap: 36px;
}

.foto-perfil {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.foto-perfil img{
    width: 120px;
    height: auto;
    border-radius: 5px;
    align-items: center;
    align-content: center;
}

.trayectoria {
    justify-content: center;
    align-content: center;
    width: 3fr;
    padding-left: 30px;
    padding-right: 20px;
}

.trayectoria h3{
    padding: 10px 0px;
}

.Clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.Clientes h4{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 1.25em;
}

.nombres-clientes {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            200px,
            1fr
        )
    );
    align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0;
    padding: 10px 30px;
    gap: 20px;
}

.nombres-clientes summary{
    list-style: square;
    cursor: pointer;
    font-weight: bold;
}

.nombres-clientes summary:hover {
    color: #07B2D9;
}

footer{
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    background-color: #000;
    color: #fff;
    width: 100vw;
    margin: 0;
    height: auto;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}

footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
}

.footer-links img {
    padding-right: 5px;
}

.footer-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-social-media img {
    padding-right: 5px;
}

footer p{
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: lighter;
    justify-content: center;
    padding: 15px;
}

@media (max-width:991px) {

    .menu-container label {
        display: initial;
        padding-right: 10px;
    }

    .menu-container .nav-bar {
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        padding-right: 20px;
        display: none;
    }

    .menu-container .nav-bar ul li {
        width:100%;
        display: flex;
        justify-content: right;
        padding-bottom: 7px;
    }

    .menu-container .nav-bar ul li a {
        font-size: 17px;
        font-weight: bold;
        padding: 7px 20px;
        background-color: #000;
        color: #fff;
        display: flex;
        width: 20%;
        border-radius: 5px;
    }

    #menu:checked ~ .nav-bar {
        display: initial;
    }

    .servicios {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                90px,
                1fr
            )
        );
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 77%;
    }

    .servicios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);  
        grid-column: 90px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }    

    .Perfil-laboral {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column: 70px;
        justify-content: space-between;
        align-items: center;
        width: 79%; 
        gap: 16px;
    }

    .foto-perfil img{
        width: 120px;
        height: auto;
        border-radius: 5px;
        align-items: center;
        align-content: center;
    }

    
}

  

@media (max-width:777px) {

    .servicios {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                90px,
                1fr
            )
        );
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 60%;
        margin: 0;
    }

    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        grid-column: 90px 90px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .botones-servicios img {
        width: 120px ;
        height: auto;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 9px;
        cursor: pointer;   
    }
}

@media (max-width:659px) {

    .container{
        width: 100%;
        justify-content: center; 
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        grid-column: 80px 80px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .botones-servicios img {
        width: 120px;
        height: 120px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 9px;
        cursor: pointer;
        
    }
    
    .Perfil-laboral {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .foto-perfil {
        padding-left: 55px;
    }

    footer {
        display: block;
        width: 100%;
        margin: 0;
        height: auto;
        justify-content: center; 
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer-social-media {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly; 
        align-content: center;
        gap: 10px;
        padding-top: 20px;
    }
}

@media(max-width:586px) {

    .container{
        width: 100%;
        justify-content: center; 
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .botones-servicios {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0;
        padding-bottom: 20px;
    }

    .Perfil-laboral {
        display: block;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .foto-perfil {
        padding-left: 20px;
    }

   

    footer {
        display: block;
        width: 100%;
        margin: 0;
        height: auto;
        justify-content: center; 
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer-social-media {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly; 
        align-content: center;
        gap: 10px;
        padding-top: 20px;
    }
}

@media(max-width:390px) {
    .container{
        width: 100%;
        justify-content: center; 
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 70%;
    }

    .botones-servicios {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0;
        padding-bottom: 20px;
    }

    .botones-servicios img {
        width: 90px;
        height: 90px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 9px;
        cursor: pointer;    
    }

    .Perfil-laboral {
        display: block;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .foto-perfil {
        padding-left: 20px;
    }


    footer {
        display: block;
        width: 100%;
        margin: 0;
        height: auto;
        justify-content: center; 
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer-social-media {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly; 
        align-content: center;
        gap: 10px;
        padding-top: 20px;
    }
}